*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.chart-1{
  width: 45%;


}
.chart-2{
  width: 45%;


}
.chartjs-size-monitor {
  width: 100%
}
.container {
  display: flex;
  justify-content: center;
}
.insert-new-sale{
  width: 500px;
  margin: 35px auto;
  background: bisque;
      padding: 20px;
      border-radius: 3px;
      text-align: center;

}
.flatpickr-input[readonly] {
    cursor: pointer;
    height: 35px;
    width: 78px;
}
#amount{
  cursor: pointer;
  height: 35px;


}

.insert-new-sale select{
      background: darksalmon;
      height: 35px;
      cursor: pointer;

}
button {

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
table{
  width: 50%;
    text-align: center;
    border: 2px solid darkblue;
    margin: auto;
}
tbody tr:first-child {
  background-color: grey;
  height: 30px
}

td {
  background: lightgray;
  height: 22px
}
